<div class="row header">
    <div class="col-3 col-sm-2">
        <a id="toggle-form" href="#" class="btn btn-light fa fa-plus-circle fa-2x" rel="tooltip" title="{|toggle_form|}"></a>
    </div>
    <div class="col text-center user">
        <span class="d-sm-none">{{echo mef\User::$name}}</span>
        <span class="d-none d-sm-inline h2">{{echo mef\User::$name}}</span>
        <form method="post">
            <button type="submit" class="btn btn-light" rel="tooltip" title="{|logout|}" name="action" value="logout">
                <i class="fa fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
    <div class="col-3 col-sm-2 text-right">
        <a href="/" class="btn btn-light fa fa-sync fa-2x" rel="tooltip" title="{|reload_page|}"></a>
    </div>
</div>

<!-- Add auctions form start, show if no sniping group is defined yet -->
<form method="post" accept-charset="utf-8">
    <input type="hidden" name="name_old" value="{{if (isset($snipe)) echo $snipe->name}}">

    <div id="add-form" class="row {{if (count($snipes) && !isset($snipe)) echo 'd-none'}}">
        <div class="col">
            <hr>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">{|group_name|}</label>
                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" name="name" required>
                    <small class="form-text text-muted">{|group_hint|}</small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label" for="data">{|auctions|}</label>
                    <small class="form-text text-muted">
                        <a id="example" href="#">{|example|}</a>
                    </small>
                </div>
                <div class="col-sm-9">
                    <textarea id="data" class="form-control" style="height:5rem" name="data" required></textarea>
                    <small class="form-text text-muted">{|auction_hint|}</small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-block" name="action" value="start">{|start|}</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary btn-block" name="action" value="save">{|save|}</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

</form>

<!-- Sniping groups start-->
<div class="mt-3 px-3">
    {{foreach ($snipes as $snipe): $token = $snipe->getNameHash()}}
    <div class="row py-2 table-bordered table-{{echo $snipe->pid ? 'success' : 'secondary'}}">
        <div class="col">
            <strong class="pointer" rel="tooltip" title="{|show_log|}" data-toggle="log" data-token="{{$token}}" style="font-size:1.2rem">{{$snipe->name}}</strong>
            {{if ($snipe->won):}}
            <div class="badge badge-pill badge-success text-monospace ml-3" rel="tooltip" title="{|won|}">
                <i class="fa fa-fw fa-shopping-bag pr-2"></i> {{$snipe->won}}
            </div>
            {{endif}}
        </div>
        <div class="col-4 col-sm-3 text-right">
            <!-- Action buttons -->
            <form method="post">
                <input type="hidden" name="name" value="{{$snipe->name}}">

                <a href="#" data-api="edit" data-token="{{$token}}" class="btn btn-sm btn-primary" rel="tooltip" title="{|edit_group|}" value="edit">
                    <i class="far fa-fw fa-edit"></i>
                </a>

                <!-- esniper process IS running -->
                <button class="btn btn-sm btn-danger btn-stop {{if (!$snipe->pid):}}d-none{{endif}}" name="action" data-api="stop" data-token="{{$token}}"
                    rel="tooltip" title="{|stop_snipe|}" value="stop">
                    <i class="fas fa-fw fa-stop"></i>
                </button>
                <!-- esniper process IS NOT running -->
                <button class="btn btn-sm btn-warning btn-delete {{if ($snipe->pid):}}d-none{{endif}}" name="action" data-api="delete" data-token="{{$token}}"
                    rel="tooltip" title="{|remove_group|}" value="delete">
                    <i class="fas fa-fw fa-trash"></i>
                </button>

            </form>
        </div>
    </div>
    <div id="log-{{$token}}" class="row log d-none">
        <div class="col p-0">
            <!-- esniper prtocol file -->
            <div class="pre p-2 mb-0" tabindex="-1">{{if ($snipe->log):}}{{$snipe->log}}{{else:}}No auction log{{endif}}</div>
        </div>
    </div>
    {{endforeach}}
</div>
<!-- Sniping groups end -->

{{if (count($bugs)):}}
<div class="row">
    <div class="col">
        <div class="h2">esniper bug reports</div>

        <form method="post">

            {{foreach ($bugs as $bug):}}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="bugs[]" value="{{$bug}}"> &nbsp;
                <a class="form-check-label" href="{{$bug}}" rel="tooltip" title="Show esniper bug report" target="_blank">
                    <i class="fa fa-fw fa-external-link-alt mr-1"></i>
                    {{$bug}}
                </a>
            </div>
            {{endforeach}}

            <button type="submit" class="btn btn-primary mt-3" name="action" value="bug">
                <i class="fas fa-fw fa-trash"></i> &nbsp; Delete esniper bug report(s)
            </button>

        </form>
    </div>
</div>
{{endif}}

<footer class="footer d-none d-sm-block mb-5">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="favicon.ico" class="mr-1" style="height:1rem;vertical-align:text-top;"> Minimal esniper web frontend
            <br>
            <small>
                <strong class="text-monospace">v{{$config->version}}</strong>, check on
                <a href="https://github.com/K-Ko/MiniEsniperWebFrontend" class="mx-1" target="_blank">
                    <i class="fab fa-github"></i> GitHub
                </a>
                for updates
            </small>
        </div>
        <div class="col text-right">
            <a href="http://esniper.sourceforge.net/" target="_blank">
                <i class="fa fa-external-link-alt"></i> {{$config->esniper_version}}
            </a>
        </div>
    </div>
</footer>
